<p>The object of the game of minesweeper is to locate all the mines as quickly as possible. Specifically, the game of minesweeper is won at the point when all squares that are not mines are clicked open.</p>

<p>The game of minesweeper is lost when a square that the player clicks open contains a mine.</p>

<p>The game of minesweeper begins upon the opening of the first square the player clicks open, which starts the timer.</p>

<p>The grid of mines for a board is pre-generated before the start of the game. The first square clicked never contains a mine. If it did contain a mine in the board pre-generation, the mine is moved to the upper-left hand corner of the board, and if that was a mine, the next square over to the right, and so on.</p>

<p>There are two ways to click open a square: left-clicking the square and chording.</p>

<p>To click open a square by left-clicking, click the left mouse button. The square the cursor is over at the point of release of the left mouse button is the square that is opened.</p>

<p>When a square is successfully opened without containing a mine, it shows a number. The number indicates the number of mines that exist in the eight squares touching the square the number was in.</p>

<p>If the number would have been a 0, the number 0 is not shown, and all squares touching that square are opened as well.</p>

<p>When a square is right-clicked, a flag appears over the square. Right-clicking is intended for marking a square as a mine. Right-click again to remove the flag. (Note: In the original windows minesweeper, the second click moves to the ?, and only the third click removes the mark. The ? is obsolete in the professional minesweeper world, and by default nearly all professional minesweeper players turn off the ? option if it exists at all.) Each time a square is flagged, the number of “mines left” display is decremented.</p>

<p>(This process is known as chording.) If the number in a square is equal to the number of squares touching that square that are flagged, double clicking on the number opens up all remaining squares around the number. The game is lost if there is any inaccuracy in the flagging around the number. Specifically, the left mouse button must be released over the square in which the number is while the right mouse button is depressed.</p>

<p>The number of mines in a board is pre-determined. A Beginner board has 10 mines on an 8-by-8 board, an Intermediate board has 40 mines on a 16-by-16 board, and an Expert board has 99 mines on a 16-by-30 board. (Note: In Windows XP and later, Beginner is on a 9-by-9 board. The 9-by-9 board is not used in the official minesweeper community for records.)</p>