.btn-primary{
    height: 30px;
    width: 30px;
    background-color: gray;
    border: 1px solid black;
}
.bomb-clicked{
    height: 30px;
    width: 30px;
    background-image: url("../../assets/bomb_clicked.png");
    background-repeat: no-repeat;
    background-size: 30px;
}